h1 {
	color : blue;
	background-color: green;
}
#first {
	border: 1px solid black;
	margin: 10px;
	padding: 20px;
}
#second {
	border: 1px solid red;
	margin: 10px;
	padding: 10px;	
}
.ordered {
	color:yellow;
	background-color: black;
}
